
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter Tight", sans-serif;
}

.container {
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 20px;
    align-items: center;
}




/* Tablet cihazlar için */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .athletic-woman img {
      content: url("images/woman-tablet.jpg");
  }
  .woman-mobile {
    display: none;
  }
  picture {
    display: flex;
  }
}

/* Mobil cihazlar için */

 

@media screen and (min-width: 375px) and (max-width: 767px) {
  /* Mobile: 375 pikselden itibaren */

  /*------------how-it-works BÖLÜMÜ --- */
  
  .steps {
    width: 335px !important;
  }

  .works {
          flex-direction: column;
          /* Mobil cihazlarda öğeler dikey */
          padding: 20px;
          /* Daha küçük padding */
          gap: 20px;
          /* Daha küçük boşluk */
      }
  
  .athletic-woman,.text-section {
          max-width: 100%;
          /* Mobilde genişliği tamamen kullan */
      }

      


  .steps p {
          font-size: 12px;
          /* Küçük ekranlar için daha küçük boyut */
          line-height: 1.3;
          /* Satır yüksekliği de küçültülür */
      }


   .steps li {
          gap: 10px;
          /* Daha küçük ekranlarda daha küçük boşluk */
          margin-bottom: 15px;
          max-width: 100%;
          /* Daha az dikey boşluk */
      }

    }

   /*------------how-it-works BÖLÜMÜ------- */


   .works {
    display: flex;
    flex-direction: row;
    /* Yatay hizalama varsayılan */
}

.athletic-woman {
    background-color:0;
    /* Mor arka plan */
    flex: 1;
    /* Alanı eşit paylaştır */
  
}

.text-section {
    background-color:0 ;
    /* Yeşil arka plan */
    flex: 1;
    /* Alanı eşit paylaştır */
   
}

.how-it-works {
   color: #fbfbfb;
   background: linear-gradient(to bottom,
           #7a3145 0%,
           #7a3145 50%,
           #576f35 50%,
           #576f35 100%);
   align-items: center;
   height: auto;
   width: auto;
}
.container-ItWorks2 {
       
        width: 100%;
        
        padding: 100px;
        align-items: center;
        
}



.sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   border: 0;
}

.works {
   display: flex;
   /* İki öğeyi yan yana yerleştirir */
 
   /* İki öğe arasına 20px boşluk ekler */
}

.athletic-woman {
   flex: 1;
   /* Öğeyi kapsayıcı içinde esnetir */
}

.text-section {
   flex: 1;
   /* Öğeyi kapsayıcı içinde esnetir */
}

.works {
   display: flex;
   flex-direction: row;
   /* Yan yana hizalama */
   align-items: center;
   justify-content: space-between;
   /* Boşluk ayarı */
   gap: 300px;
 
}

.how-it-works {
   display: flex;
   flex-direction: row;
   /* Yan yana hizalama */
   align-items: center;
   justify-content: space-between;
   height: auto;
   
}


.works {
   display: flex;
   /* Flexbox düzeni ile yatay hizalama */
   /*flex-direction: column; */
   /* Mobil cihazlarda dikey hizalama için */
   align-items: center;
   /* İçeriği yatay olarak ortalar */
   justify-content: center;
   /* İçeriği dikey olarak ortalar */
   
   /* Kapsayıcıya her taraftan 100px boşluk ekler */
   
   /* İki öğe arasındaki boşluk */
}



.athletic-woman {
   display: flex;
   justify-content: center;
   align-items: center;
   
}

img.responsive-image {
   border-radius: 30px;
   max-width: 450px;
   width: 100%;
   height: 450px;
   filter: brightness(70%);
   object-fit: cover;
}

.text-section {
           margin-top: 0px;
           margin-bottom: auto;
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: stretch;
}

.text-section {
   align-items: center;
   justify-content: center;
   max-width: 450px;
   
  

}



.text-section h2 {
   margin-bottom: 20px;
   font-size: 28px;
   font-weight: 600;
   line-height: 28px;
   letter-spacing: -0.015em;
   text-align: left;
}

.text-section p {
   margin-bottom: 20px;
   font-size: 16px;
   font-weight: 500;
   line-height: 20px;
   text-align: left;
}

.ol{
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.steps {
   list-style: none;
   counter-reset: step-counter;
   padding-left: 0;
   width: 440px;
}

.steps li {
   position: relative;
   gap: 15px;
   margin-bottom: 20px;
   background-color: #fbfbfb;
   border-radius: 10px;
   font-size: 12px;
   line-height: 80px;
   color: rgba(20, 20, 20, 0.4);
   box-sizing: border-box;
   height: 80px;
   max-width: 450px;
  

}

.steps p {
   padding-left: 85px;
}

.steps li::before {
   content: counter(step-counter);
   counter-increment: step-counter;
   position: absolute;
   margin-left: 20px;
   margin-right: 10px;
   top: 50%;
   transform: translateY(-50%);
   background-color: #7a3145;
   color: white;
   width: 42px;
   height: 42px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.2rem;
   font-weight: 500;
   border: 5px solid rgba(255, 255, 255, 0.6);
}

.steps-color {
   color: #141414;
   font-weight: bold;
}

.steps li p {
   margin: 0;
   line-height: 1.6;
   display: inline-block;
   vertical-align: middle;
}

.color-text-vegetable,
.color-text-steps {
   color: #fbfbfb4d;
   font-size: 32px;
   font-weight: 600;
   line-height: 32px;
   letter-spacing: -0.015em;
   text-align: left;
}

@media screen and (min-width: 1280px) {
   .how-it-works {
       background: linear-gradient(to right, #7a3145 0%, #7a3145 50%, #576f35 50%, #576f35 100%);
   }
   .woman-mobile {
    display: none;
   }
}
@media screen and (min-width: 1280px) {
   .works {
       background: none;
   }
}


/*------------how-it-works BÖLÜMÜ(bitiş) --- */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  /* Tablet: 768 pikselden itibaren */
  /*------------how-it-works BÖLÜMÜ --- */

  .woman-mobile {
    display: none;
  }
  picture {
    display: flex;
  }

  .how-it-works {
          background: linear-gradient(to bottom, #7a3145 50%, #576f35 50%);
          /* Mor üstte, yeşil altta */
          background-size: 100% 100%;
          background-position: top;
      }
  
      .works {
          display: flex;
          flex-direction: column;
          /* Dikey hizalama */
          align-items: center;
          justify-content: center;
      }
  
      .athletic-woman {
          flex: 1;
          
          background-color: transparent;
          /* Varsayılan arka planı temizle */
      }
  
      .text-section {
          flex: 1;
          padding: 20px;
          background-color: transparent;
          /* Varsayılan arka planı temizle */
      }
  }

  

  
  
  .athletic-woman,
  .text-section {
    display: flex;
    justify-content: center;
    align-items: center;
          flex: unset;
          /* Eşit alan paylaştırmayı kaldır */
      
          /* Tam genişlik */
          padding: 20px;
          /* İçeriği biraz daralt */
      }
      

      


  .steps p {
  font-size: 14px; /* Küçük ekranlar için daha küçük boyut */
  line-height: 1.4; /* Satır yüksekliği de küçültülür */
  
}    


.steps li {
  gap: 10px; /* Daha küçük ekranlarda daha küçük boşluk */
  margin-bottom: 15px; /* Daha az dikey boşluk */
}




  
  /*------------how-it-works BÖLÜMÜ(bitiş) ---*/

  @media screen and (max-width: 767px) {
    .how-it-works {
        background: linear-gradient(to bottom, #7a3145 50%, #576f35 50%);
        background-size: 100% 100%;
        background-position: top;
    }
    picture {
      display: none;
    }
    .woman-mobile {
      display: flex;
      border-radius: 30px;
    }
  

    .works {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .athletic-woman,
    .text-section {
        
        padding: 20px;
        background-color: transparent;
    }
}

  

/*-------------- Advertisement ---------------------*/
.advertisement-container {
  width: 100%;
  height: 472px;
  padding: 80px 20px;
  text-transform: uppercase;
  background-color: #fbfbfb;
}


.advertisement-text-box {
  background-color: #576f35;
  border-radius: 12px;
  font-size: 48px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: -0.015em;
  display: block;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  color: white;
  

}


.advertisement-text {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -0.015em;
  line-height: 52px;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}




/* For Desktop */
@media (min-width: 1024px) {
.advertisement-container {
  width: 100%;
  height: 428px;
  padding: 100px;
}

.advertisement-text {
  display: inline-block;
  font-size: 76px;
  font-weight: 600;
  line-height: 76px;
  letter-spacing: -0.015em;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  max-width: 861.98px;
}

.advertisement-text-box {
  display: inline-block;
  font-size: 76px;
  font-weight: 600;
  line-height: 76px;
  letter-spacing: -0.015em;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}


}



/* For Tablet */
@media (min-width:768px) {
.advertisement-container {
  width: 100%;
  height: 488px;
  padding: 100px 32 px;
}

.advertisement-text {
  font-size: 64px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: -0.015em;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;    
}

.advertisement-text-box {
  font-size: 64px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: -0.015em;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}



}

  
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    /* Tablet: 768 pikselden itibaren */



    /*----------REVİEWS BÖLÜMÜ----------*/
   .reviews-container{
        
        width: 100%;
        height: 492px;
        padding-top: 100px;
        padding-right: 32px !important;
        padding-left: 32px !important;
        padding-right: 32px;
    }
    .reviews-img-ul{
      
      display: flex;
        width: 100%;
        overflow-x: scroll;
        gap: 24px;
    }


  }
  
  
  @media screen and (min-width: 375px) and (max-width: 767px) {
    /* Mobile: 375 pikselden itibaren */
    .reviews-container {
      
        width: 100%;
        height: 664px;
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 80px;
    }
    .reviews-img {
      max-width: 704px;
      display: flex;
      
    }
    .reviews-img-ul-li {
      width: 340px;
    }
    .reviews-title-text {
      padding-bottom: 30px;
    }
    .reviews-img-ul{
        padding-top: 52px;
        width: 335px;
        display: flex;
        overflow-x: scroll;
        gap: 24px;
        
    }
    .reviews-img-box{
        padding-left:16px ;
        padding-top: 20px;
        width: 335px;
        height: 228px;
    }
    .reviews-img-box-text{
        font-size: 14px;
    }
    /*------REVİEWS BÖLÜMÜ------*/
  }


  

/*-------------------REVİEWS BÖLÜMÜ-------------------*/
.reviews-container{
    width: 100%;
    height: 692px;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.reviews-title{
    display: flex;
    flex-direction: column;
    max-width:553px ;
    height: 192px;
}

.reviews-title-one{
    font-size: 64px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing:-1.5%;
    color:#141414;
    text-transform: uppercase;
}

.reviews-title-two{
    color:#576f35;
}

.reviews-title-text{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color:#141414;
    margin-top: 14px;
}

.reviews-img-ul{
   list-style-type: none;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   
   
}

.reviews-img-box{
    width: 344px;
    height: 248px;
    border: 1px solid #d4bfc4;
    border-radius: 24px;
    text-align: center;
    margin-top:52px ;
    padding: 20px;

}

.reviews-img-box-title{
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -1.5%;
    margin-top: 24px;
    margin-bottom: 8px;
}

.reviews-img-box-text{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #a9a9a9;
}
/*-------------------REVİEWS BÖLÜMÜ-------------------*/



    /* Desktop: 1280 pikselden itibaren */

    /*-----------------------------------------------------VEGETABLES BÖLÜMÜ--------------------------------------------------------------------------*/
    .vegetables {
        background-color: #7A3145;
        
        
    }
    .vegatables-container {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .vegetables-title {
        max-width: 626px;
        padding-bottom: 52px;
    }
    .vegetables-title-line-one {
        max-width: 508px;
        font-weight: 600;
        font-size: 64px;
        line-height: 64px;
        letter-spacing: -0.015em;
        color: #FBFBFB;
        padding-bottom: 24px;
    }
    .vegetables-title-line-two {
        color: #D4BFC4;
    }
    .vegetables-title-text {
        color: #FBFBFB;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }

    .vegetables-img {
        max-width: 100%;
        cursor: pointer;
        
        
    }
    .vegetables-img-ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        row-gap: 28px;
        justify-content: space-between;
    }
    .vegetables-img-li {
        transition: transform 0.3s ease;
    } 
    .vegetables-img-li:hover {
        transform: scale(1.1);
    }
    .vegetables-img-box {
        max-width: 344px;
        background-color: #FBFBFB;
        border-radius: 40px;
        padding: 32px;
    }
    .vegetables-img-li-title {
        font-weight: 600;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -0.15;
        color: #7A3145;
        padding-bottom: 12px;
    }
    .vegetables-img-li-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #141414;
    }
    /*-----------------------------------------------------VEGETABLES BÖLÜMÜ--------------------------------------------------------------------------*/
  
  
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    /* Tablet: 768 pikselden itibaren */

    /*-----------------------------------------------------VEGETABLES BÖLÜMÜ--------------------------------------------------------------------------*/
    .vegetables {
       max-width: auto;
    }
    
    .vegatables-container {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 32px;
        padding-right: 32px;
    }
    
    /*-----------------------------------------------------VEGETABLES BÖLÜMÜ--------------------------------------------------------------------------*/

  }
  
  
  @media screen and (min-width: 375px) and (max-width: 767px) {
    /* Mobile: 375 pikselden itibaren */

    /*-----------------------------------------------------VEGETABLES BÖLÜMÜ--------------------------------------------------------------------------*/
    .vegatables-container {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .vegetables-title-line-one {
      max-width: 508px;
      font-weight: 600;
      font-size: 48px;
      line-height: 64px;
      letter-spacing: -0.015em;
      color: #FBFBFB;
      padding-bottom: 24px;
  }

    .vegetables-img-li {
        display: flex;
    } 
    .vegetables-img-ul {
        display: flex;
        justify-content: center;
    }
    /*-----------------------------------------------------VEGETABLES BÖLÜMÜ--------------------------------------------------------------------------*/
  }
  
  
  @media screen and (max-width: 375px) {
    /* Mobile: 320 pikselden itibaren esnek düzen */
    
    /*-----------------------------------------------------VEGETABLES BÖLÜMÜ--------------------------------------------------------------------------*/
    .vegetables-title-line-one {
        display: flex;
        flex-wrap: wrap;
        font-size: 48px;
    }
    .vegatables-container {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .vegetables-img-box {
        max-width: 335px;
        background-color: #FBFBFB;
        border-radius: 40px;
        padding: 32px;
    }
    /*-----------------------------------------------------VEGETABLES BÖLÜMÜ--------------------------------------------------------------------------*/




  }


  /* ---------------------------------------------------- YOUR ORDER BÖLÜMÜ ----------------------------------------------------------------------- */

  /* 1280 PX YOUR ORDER */


  .your-order {
    background-color: #576F35;
    color: #fbfbfb;
  }
  
  .order-title {
    max-width: 751px;
  }
  
  .fresh {
    font-size: 48px;
    line-height: 50px;
    font-weight: 600;
    letter-spacing: -0.015em;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  
  .harvest {
    color: #D4BFC4;
  }
  
  .fresh-content {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    text-align: left;
  }
  
  .form-and-social {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .form-div {
    background-color: #fbfbfb;
    border-radius: 30px;
    color: #141414;
    padding: 50px;
    width: 100%;
    max-width: 628px;
  }
  
  .order-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .form-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.015em;
    text-align: left;
    text-transform: uppercase;
  }
  
  .from-us {
    color: #7a3145;
  }
  
  .the-form {
    color: #576f35;
  }
  
  .form-inputs,
  .form-comment,
  .send-button {
    height: 52px;
    padding: 16px;
    gap: 10px;
    border-radius: 30px;
    opacity: 0px;
    border: 1px solid #14141433;
    outline: none;
  }
  
  .form-inputs:focus {
    border-color: #7a3145;
  }
  
  .form-comment:focus {
    border-color: #7a3145;
  }
  
  #email:focus {
    border: 1px solid grey;
  }

  #email:hover {
    border: 1px solid #7A3145;
  }

  #email:not(:placeholder-shown):invalid {
  border-color: #e74a3b;
}

#email:not(:placeholder-shown):valid {
  border-color: #3cbc81;

}  
  
  .form-comment {
    height: 95px;
  }
  
  .form-inputs::placeholder,
  .form-comment::placeholder {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #141414;
  }
  
  .send-button {
    background-color: #7A3145;
    color: #fbfbfb;
    border: none;
    cursor: pointer;
  }
  
  .social-networks {
    padding: 50px;
    background-color: #7A3145;
    border-radius: 30px;
    width: 100%;
    max-width: 628px;
  }
  
  .networks {
    margin-top: 50px;
    font-weight: 600;
    letter-spacing: -0.015em;
    text-align: left;
  }
  
  .networks p {
    font-size: 18px;
    line-height: 20px;
    color: #fbfbfb80;
    margin-bottom: 8px;
  }
  
  .networks-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 32px;
    line-height: 32px;
    gap: 12px;
  }
  
  .networks a {
    text-decoration: none;
    color: #fbfbfb;
    cursor: pointer;
  }
  
  .responsive-image-two {
    border-radius: 30px;
    width: 100%;
    height: 273px;
    object-fit: cover;
    object-position: bottom;
  }
  .send-button:hover {
    background-color: #622133;
  }
  
  @media screen and (min-width: 375px) {
    .form-and-social {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    .form-div {
      width: 100%;
      max-width: 628px;
    }
    .social-networks {
      width: 100%;
      max-width: 628px;
    }
    .send-button:hover {
      background-color: #622133;
    }
  }
  
  @media screen and (min-width: 768px) {
    .your-order-container {
      padding: 100px 72px;
    }
  
    .fresh {
      font-size: 64px;
      line-height: 64px;
    }
  
    .fresh-content {
      font-size: 16px;
      line-height: 20px;
    }
    .form-and-social {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 25px;
    }
    .form-div {
      width: 100%;
    }
    .social-networks {
      width: 100%;
    }
    .send-button:hover {
      background-color: #622133;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .send-button:hover {
      background-color: #622133;
    }
    .container {
      max-width: 1280px;
      padding: 100px;
      padding: 100px;
    }
  
    .form-and-social {
      margin-top: 52px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .form-div {
      width: 50%;
    }
  
    .social-networks {
      width: 50%;
    }
  }



